*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: lightgray;
}
.wrapper{
    width: 400px;
    height: 300px;
    background: lightgray;
    display: flex;
    align-items: center;
    justify-content: center;

}
.wrapper h1{
    font-size: 36px;
    text-align: center;
}
.wrapper .input-box{
    width: 100px;
    height: 50px;

}
.btn{
    width: 250px;
    height: 30px;
    background-color: green;
}